.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.email-guesser {
  width: 100%; /* Ensures container takes full width available */
  max-width: 500px; /* Limits the width of the form container */
  margin: 0 auto; /* Centers the form container */
}

.email-guesser form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%; /* Ensures form takes full width available */
}

.email-guesser form > div {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 100%;
}

.email-guesser form > div > label {
  margin-bottom: 0.5rem; /* Adds space below the label */
}

.email-guesser form > div > input {
  padding: 0.5rem; /* Adds padding inside the input fields */
  box-sizing: border-box; /* Ensures padding is included in width */
  width: 100%; /* Make input fields full width */
}

.email-guesser form > div > p.error-message {
  color: red;
  font-size: 0.75rem; /* Smaller font size */
  font-style: italic; /* Italicize the text */
  margin-top: 0.25rem; /* Adds space above the error message */
}

.email-guesser form > button {
  padding: 0.5rem 1rem;
  cursor: pointer;
  display: block; /* Ensures the button is a block element */
  margin: 1rem auto; /* Center the button */
}

.email-list-container {
  max-height: 200px; /* Adjust as needed */
  overflow-y: auto;
}

.email-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.email-list li {
  margin: 0.5rem 0; /* Adds space between list items */
}